@using CSharp_Themed_Events.Enums
@model IEnumerable<CSharp_Themed_Events.Models.Event>

<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="col s12 m6 l4">
                    <div class="card hoverable gallery-card">
                        
                        <div class="card-image">
                            @if (!string.IsNullOrEmpty(item.ImgURL))
                            {
                                <img src="@item.ImgURL" class="gallery-img">
                            }
                            else
                            {
                                <img src="https://via.placeholder.com/400x200?text=Sin+Imagen" class="gallery-img">
                            }
                            
                            <span class="btn-floating halfway-fab waves-effect waves-light @GetStatusColor(item.Status)">
                                <i class="material-icons">@GetStatusIcon(item.Status)</i>
                            </span>
                        </div>

                        <div class="card-content" style="flex-grow: 1;">
                            <span class="card-title grey-text text-darken-4 truncate" title="@item.Name">
                                @item.Name
                            </span>
                            <p><i class="material-icons tiny">place</i> @item.Location</p>
                            <p><i class="material-icons tiny">event</i> @item.Date.ToShortDateString()</p>
                        </div>

                        <div class="card-action">
                            <span class="right grey-text" style="font-size: 0.8rem;">@item.Status</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@functions {
    // Helpers para la lógica visual del Enum
    public string GetStatusColor(EventStatus status) => status switch {
        EventStatus.ComingSoon => "blue",
        EventStatus.OnGoing => "green",
        EventStatus.Finished => "grey",
        _ => "deep-purple"
    };

    public string GetStatusIcon(EventStatus status) => status switch {
        EventStatus.ComingSoon => "schedule",
        EventStatus.OnGoing => "play_arrow",
        EventStatus.Finished => "check",
        _ => "help"
    };
}